// COLORS
$color-primary:  rgb(136, 200, 255);
$color-secondary: rgb(21, 16, 25);

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;
$font-primary: 'Open Sans', sans-serif;
