body {
    font-family: $font-primary;
    font-size: $default-font-size;
    font-weight: 400;
    line-height: 1.7;
}

.heading-primary {
    font-weight: 300;
    font-size: 2rem;
    letter-spacing: .8rem;
    width: 120rem;


    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        text-transform: uppercase;
    }

    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 300;
        letter-spacing: .8rem;
        text-transform: uppercase;
    }

    &--sub {

    }



}

// .bar {
//     height: 1px;
//     display: block;
//     margin-left: auto;
//     margin-right: auto;
//     width: 2rem;
//     background-color: #000;
//     animation: pulse 3s infinite;
//     animation-timing-function: ease-out;

//     grid-row: 3 / 4;
//     grid-column: 2 / 3;
//     align-self: end;
// }

// @keyframes pulse {
//     0% {
//         width: 2rem;
//     }

//     50% {
//         width: 10rem;
//     }

//     100% {
//         width: 2rem;
//     }
// }
